body {
  font-family: UBUNTU;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

/* navigation bar...................................................... */

.navbar {
  padding-bottom: 3.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-Light;
}

.tagline-cum-cta-text {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* title................................................................... */

#title {
  color: #fff;
  background-color: #ff4c68;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-div-1 {
  padding-top: 10%;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  top: 80px;
  left: 5%;
}

.iphone-image {
  margin-left: 10%;
}

.download-button {
  margin: 5% 3% 5% 0%;
}

/* features.............................................................. */

#features {
  background-color: #fff;
  position: relative;
}
.features-column {
  margin: 50px 0px;
  padding: 5%;
}

.features-heading {
  font-family: "Montserrat-Black";
  font-size: 1.8rem;
  margin-top: 16px;
}

.features-image {
  color: #cf8172;
}

.features-image:hover {
  color: #ff4c68;
}

/* testimonials ..............................................................*/

#testimonials {
  background-color: #cf8172;
  text-align: center
}

.testimonials-margin {
  padding: 3.5%;
}

.testimonials-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.containers-fluid {
  padding: 0% 15%;
}


/* press ........................................................................*/
#press {
  background-color: #cf8172;
  padding: 3%;
}

.press-images {
  height: 2.7rem;
  margin: 20px 20px 50px;
}

/* pricing...................................................................... */

#pricing {
  padding: 100px;
}

.pricing-content {
  padding: 3% 2%;
}

.pricing-h2 {
  color: #000;
}

/* cta.......................................................................... */

#cta {
  color: #fff;
  background-color: #ff4c68;
}



/* footer....................................................................... */

#footer {
  background-color: #fff;
}

.footer-icons {
  margin: 20px 10px;
}

/* media.......................................................................... */

@media (max-width: 991px) {
  body {
    text-align: left;
  }

  .title-image {
    width: 40%;
    position: static;
    transform: rotate(0);
  }
  
  .nav-link {
    text-align: right;
  }
  
  .iphone-image {
    margin-left: 0px;
  }
}
